body{
	background-color:rgb(255, 255, 255);
	font:400 15px/1.63 'Open Sans';
	color:rgb(124, 124, 124);
}

.section-1{
	width:100%;
	border-bottom:1px solid rgb(213, 213, 213);
	background:rgb(222, 222, 222);
	background:-webkit-linear-gradient(0deg, #263269 0%, #22b1b5 100%) rgb(222, 222, 222);
	background:-moz-linear-gradient(0deg, #263269 0%, #22b1b5 100%) rgb(222, 222, 222);
	background:-o-linear-gradient(0deg, #263269 0%, #22b1b5 100%) rgb(222, 222, 222);
	background:-ms-linear-gradient(0deg, #263269 0%, #22b1b5 100%) rgb(222, 222, 222);
	background:linear-gradient(450deg, #263269 0%, #22b1b5 100%) rgb(222, 222, 222);
}

.navbar-header{
    padding-left: 88px;
}

.logo {
	width:100px;
	margin-top:25px;
}

.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline;
}

.navbar-nav>li>a.join {
	border:1px solid rgb(255, 255, 255);
	border-radius:3px;
	font-size:13px;
	font-weight:400;
	color:rgb(255, 255, 255);
	text-align:center;
    margin-right:17px;
}

.navbar-nav>li>a.join:hover {
    background-color: transparent;
}

.navbar-nav>li>a.login {
	/*margin-top:-33px;*/
	border:1px solid rgb(255, 255, 255);
	border-radius:3px;
	background-color:rgb(255, 255, 255);
	font-size:13px;
	font-weight:400;
	text-align:center;
	color:rgb(34, 51, 98);

    padding: 5px 18px 6px 18px;
}

.nav-btns{
    margin: 22px 90px 0 0;
}

.main-header{
    margin-bottom: -8px;
}
.main-header-description
{
    margin-bottom: 0px;
}

.section-1 .screenshot {
    margin-top: 40px;
}

.scroll {
	display:block;
	width:224px;
	height:48px;
	margin:1px 0 0 457px;
	border-radius:	3px;
	background-color:rgb(255, 255, 255);
	font-size:16px;
	font-weight:600;
	line-height:2.88;
	text-align:center;
	color:#1e989f;
}

.scroll:hover {
    color:#1e989f;
    text-decoration: none;
}

.scroll2 {
    height:48px;
    border-radius:  3px;
    background-color:rgb(255, 255, 255);
    font-size:16px;
    font-weight:600;
    line-height:1.88;
    text-align:center;
    color:#1e989f;
}

.scroll2:hover {
    color:#1e989f;
    text-decoration: none;
}




    .section-1,
    .section-2,
    .section-3 {
        border-bottom: 1px solid #dbdbdb;
    }

	.section-1 h2 {
		width:100%;
		min-height:79px;
		margin-top:78px;
		font-size:39px;
		font-weight:300;
		line-height:1.48;
		color:rgb(255, 255, 255);
	}
	.section-1 p {
		width:100%;
		min-height:82px;
		margin-top:-7px;
		font:300 20px/1.58 Merriweather;
		color:rgba(255, 255, 255, 0.75);
	}

    .section-1 .navcust {
        background-color: inherit;
        border-color: transparent;
    }

    .container-2 {
    background-image: url("../images/Screen-Shot-2015-01-04-at-14.21.32.png");
    background-position: 50% 390px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 880px;
    left: 0;
    margin: 0 auto;
    /*position: absolute;*/
    right: 0;
    /*top: 1px;*/
    width: 960px;
}

	.upper {
		text-transform: uppercase;
	}

	.section-2 h2 {
        color: #243567;
        font-size: 39px;
        font-weight: 300;
        font-family: "Open Sans";
        text-align: center;
        margin-top: 105px;
	}

    .section-2 h3 {
        color: rgba(36, 54, 103, 0.75);
        font: 300 20px/1.58 Merriweather;
        text-align: center;
        margin-top: 23px;
        padding-bottom: 50px;
    }

    .section-2 .grunt {
        color: #d25149;
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 20px;
        line-height: 140%;
    }

    .section-2 .grunt span{
        color: white;
    }

    .section-2 .grunt .radius {
        background-color: #d25149;
        border-radius: 35px;
        float: left;
        margin-right: 10px;
        text-align: center;
        height: 30px;
        width: 30px;
    }

    .section-2 .grunt-text {
        font-size: 16px;
        color: #232323;
    }

    .section-2 .row {
        padding-bottom: 50px;
    }

    .section-2 img {
        padding-top: 50px;
    }
    
    .section-2 .col-md-6 {
        padding-left: 65px;
    }

    .section-2 .vlist {
        margin-bottom: 10px;
    }

/* section 3*/

    .section-3 {
        background-color: #f1f1f1;
    }

    .section-3 h2 {
        color: #243567;
        font-size: 39px;
        font-weight: 300;
        line-height: 1.48;
        margin-top: 190px;
        min-height: 79px;
    }

    .section-3 .sec3-head {
        color: rgb(34, 51, 98);
        margin-top: 34px;
        margin-bottom: 0px;
    }

    .section-3 p {
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 400;
    }

    .section-3 img {
        margin-top: 80px;
    }

/* section 4*/

    .section-4 .feedback-block {
        margin-bottom: 70px;
    }

    .section-4 .feedback {
        font-size: 20px;
        margin-top: 20px;
        color: #3F3E3E;
    }

    .section-4 .name {
        font-size: 16px;
        font-weight: bold;
        padding-top: 15px;
        margin-bottom: 0px;
        color: #858585;
    }
    
    .section-4 .techsm {
        text-align: right;
    }

    .section-4 h2 {
        margin-bottom: 60px;
        margin-top: 90px;
        color: #232323;
    }

    .section-4 img {
        margin-bottom: 20px;
    }

/* section 5*/

    .section-5 {
        background-color: #fcfcfc;
    }

    .section-5 .plug {
        margin-bottom: 25px;
    }

    .section-5 .plugins {
        margin-bottom: 40px;
    }

    .section-5 .play {
        font-weight: 600;
        font-size: 20px;
        color: #232323;
        padding-top: 60px;
        padding-bottom: 38px;
    }

    .section-5 .play .red {
        color: #d25149;
    }

    .section-5 .finger {
        position: absolute;
        margin-left: 270px;
        top: 80px;
    }

/*section 6*/
    .section-6 {
        background-color: #f2f2f2;
    }

    .section-6 .offer {
        font-family: proximanovabold;
        font-weight: 600;
        color: #232323;
        font-size: 20px;
        margin-bottom: 40px;
        padding-top: 35px;
    }

    .section-6 .head {
        font-size: 13px;
        color: #232323;
        font-weight: 600;
        padding-bottom: 15px;
        padding-top: 20px;
    }

    .section-6 .copyright a {
        font-size: 12px;
        color: #232323;
        font-weight: 600;
    }

    .section-6 .policy a {
        font-size: 10px;
        color: #232323;
        font-weight: 800;
        text-align: right;
    }

    .section-6 ul li a,
    .section-6 .notes {
        font-size: 14px;
        color: rgb(124, 124, 124);
        width: 94%;
        line-height: 180%;
    }

    .section-6 .notes {
        margin-bottom: 15px;
    }

    .section-6 .input-group {
        width: 88%;
    }

    .section-6 .input-group input{
        height: 50px;
    }

    .section-6 .doit {
        width: 88%;
        height: 50px;
        background-color: #00b268;
        font-weight: 800;
        font-size: 20px;
    }

    .section-6 .input-group-addon {
        width: 10%!important;
    }

    .section-6 .form {
        padding-bottom: 50px;
        border-bottom: 2px solid #c2c2c2;
    }

    .section-6 .links {
        padding-bottom: 30px;
        padding-top: 45px;
        border-bottom: 2px solid #c2c2c2;
    }

    .section-6 .vault {
        padding-top: 25px;
    }

    .vault {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .section-6 .links img {
        margin-left: 6px;
    }

    .section-6 .adsuit-logo {
        padding-bottom: 20px;
    }

/* ============== social ======================*/


    .social ul {
        padding: 0px;
        margin: 0px;
    }

    .social ul li {
        margin: 5px;
        list-style: none outside none;
        display: inline-block;
    }

    .social i {
        width: 40px;
        height: 40px;
        color: #848484;
        background-color: #e5e5e5;
        font-size: 18px;
        text-align:center;
        padding-top: 14px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -o-border-radius: 50%;
        transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
    }

    .social i:hover {
        color: #FFF;
        text-decoration: none;
        transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
    }

    .social .fa-facebook:hover { /* round facebook icon*/
        background: #4060A5;
    }

    .social .fa-twitter:hover { /* round twitter icon*/
        background: #00ABE3;
    }

    .social .fa-linkedin:hover { /* round linkedin icon*/
        background: #0094BC;
    }
/* ============== social ======================*/

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        .navbar-collapse {
            border: none;
            overflow-y: none;
            box-shadow: none;
        }

        .navbar-nav>li>a.join,
        .navbar-nav>li>a.login {
            padding: 0;
            background: none;
            border: none;
            text-transform: uppercase;
            color:rgb(255, 255, 255);
        }

        .navbar-nav>li>a.join:hover,
        .navbar-nav>li>a.login:hover {
            color:#337ab7;
        } 

        .navbar-default .navbar-toggle {
            color: #232323;
            border-color: #fff;
        }

        .navbar-default .navbar-toggle:hover {
            background-color: #fff;
        }

        .section-3 h2 {
            margin-top: 80px;
        }

        .section-4 .techsm,
        .social,
        .adsuit-logo,
        .integr-img {
            text-align: center;
        }

        .section-2 .row {
            padding-bottom: 20px;
        }

        .section-2 img {
            padding-top: 0px;
            padding-bottom: 10px;
        }

        .section-6 .doit,
        .section-6 .input-group {
            width: 100%;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        .section-4 .techsm,
        .integr-img {
            text-align: center;
        }

        .section-6 .form-group {
            margin-bottom: 10px;
        }

        .section-2 img {
            padding-top: 0px;
            padding-bottom: 15px;
        }

        .section-5 .finger {
            position: absolute;
            margin-left: 180px;
            top: 60px;
            z-index: 5;
        }
    }

        /* Medium Devices, Desktops */
    @media only screen and (max-width : 1200px) {

        .section-5 .finger {
            position: absolute;
            margin-left: 220px;
            top: 62px;
            z-index: 5;
        }
    }